body {
    margin: 0;
    color:  #2f2f2f;
    position:  relative;
}
html {
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}
.header-name{
    font-size: 40px;
    font-weight: 600;
    
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.header-name-sub{
    font-size: 30px;
    font-weight: 600;
    
    text-align: center;
    width: 100%;
    margin-top: 15px;
}
.header-name span{
    color: red;
}
.bangdanhsach-container{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 100px;
    float: left;
}
.bangdanhsach{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.grade-container {
    width: 30%;
    float: left;
    margin-right: 4%;
    border: solid 1px #eaeaea;
    padding: 10px 30px 30px;
    border-radius: 10px;
    background: #f3f3f3;
    transition-duration: .2s;
}
.grade-container:last-child{
    margin-right: 0;
}
.grade-container:hover {
    transform: translate(-2px, -2px);
    transition-duration: .2s;
    box-shadow: 2px 2px 5px #00000055;
    background: #e2e2e2;
}
.footer-container{
    width: 100%;
    height: 70px;
    float: left;
    text-align: center;
    bottom: 0;
    display: table;
    padding: 10px;
    background: #5f5f5f;
    color: white;
}
.footer-content{
    display: table-cell;
    vertical-align: middle;
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
.logo{
    position: absolute;
    left: 20px;
    top: -30px;
}
.one-box{
    width: 90%;
    height: 40px;
    display: block;
    margin:  auto;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 10px;
    padding: 8px;
    background: white;
    position: relative;
    transition-duration: .1s;
    box-shadow: 1px 1px 2px #00000021;
}

.one-box span{
    display: block;
    width: 100%;
    text-align: center;
}
.lop10 span{
    color: #005796;
}
.lop11 span{
    color: #da3434;
}
.lop12 span{
    color: #417d00;
}
.grade-name{
    width: 100%;
    border:  none;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    background: navajowhite;
    height: 45px;
    border-radius: 10px;
}
.one-box img{
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    transition-duration: .1s;
    float: left;
}
.one-box:hover{
    background: #fddead;
}
.one-box:hover img{
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transition-duration: .1s;
}
.one-box:hover span{
    font-size: 20;
    transition-duration: .1s;
}

@media (max-width:420px) {
    .grade-container {
        padding: 10px 10px 30px;
    }
}

@media (max-width:420px) {

    .grade-container {
        width: 100%;
        margin-bottom: 50px;
    }
    .logo {
        display: none;
    }
    .bangdanhsach {
        width: 80%;
    }
    .header-name{
        font-size: 20px;
    }
    .header-name-sub{
        font-size: 15px;
    }
    .one-box {
        width: 90%;
        height: 35px;
        display: block;
        margin: auto;
        border-radius: 20px;
        font-size: 15px;
        margin-top: 10px;
        padding: 8px;
        background: white;
        position: relative;
        transition-duration: .1s;
        box-shadow: 1px 1px 2px #00000021;
    }
    .grade-name {
        width: 100%;
        border: none;
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
        background: navajowhite;
        height: 40px;
        border-radius: 10px;
    }
    .one-box span {
        display: block;
        width: 100%;
        text-align: center;
        padding-left: 10px;
    }

}

@media (max-width:600px) and (min-width:421px) {
    
}

@media (max-width:600px) {
    
}

@media (max-width:768px) and (min-width:601px) {
    
}

@media only screen and  (max-width:768px) {
    
    .grade-container {
        width: 100%;
        margin-bottom: 50px;
    }
    .logo {
        display: none;
    }
    .bangdanhsach {
        width: 50%;
    }
}

@media (min-width:1024px) {
    .bangdanhsach {
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    .grade-container {
        width: 30%;
        float: left;
        margin-right: 4%;
        border: solid 1px #eaeaea;
        padding: 10px 20px 30px;
        border-radius: 10px;
        background: #f3f3f3;
        transition-duration: .2s;
    }
    .logo img{
        height: 100px!important;
        width: 100px!important;
    }

    .header-name {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        margin-top: 50px;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    .header-name-sub {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

}

@media (max-width:1024px) {

    
}

@media (max-width:1024px) and (min-width:769px) {
    
}

@media (max-width:1190px) {

    
}

@media (min-width:1600px) {
    
}




